.ALittleAbout2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ALittleAbout2 .finalaboutP{
    margin:5px auto;
    border-radius: 20px;
    padding: 2rem;
    max-width: 42rem;
    background: var(--theme-color);
    box-shadow: 0 0 4px inset var(--theme-shadow);
    transition: 1.5s;
    backdrop-filter: blur(5px);
    word-spacing: 0.25rem;
}