.Error {
    padding: 10px 14px;
    margin: 8px 0;
    max-width: 400px;
    border-radius: 8px;
    border: 1px solid #ff5a2f;
    color: #ff5a2f;

    font-size: 14px;
    font-weight: 500;
    box-shadow: inset 0 0 6px rgba(255, 90, 47, 0.35);

    background: transparent;

    transition: 0.2s ease;
}

.Error:hover {
    box-shadow: inset 0 0 10px rgba(255, 90, 47, 0.55);
}